/* CSS document */

/*Site's upper part.*/

body{
  margin: 0;
  font-family: sans-serif;
}

.main1-mobile-container {
  height: 3rem;
  background: #343434;
}

.menu-desktop-version {
  display: none;
}

.main1{
  padding-left: 85%;
}

.main1-container {
  height: 0;
  background: #343434;
  transition: height 0.3s;
  overflow: hidden;
}

.main1-container-after-click {
  height: 13rem;
}

#menu-picture {
  padding-top: 7.5%;
  display: block;
}

.main1-tags {
  height: 3rem;
  box-sizing: border-box;
  padding-left: 15%;
  font-size: 150%;
}

.main1-tags p {
  margin: 0;
  padding-top: 2.5%;
}

.main-divisor {
  height: 1.5rem;
  background: #343434;
}

.mains a:link{
  color: white;
  text-decoration: none;
}

.mains a:visited{
  color: white;
}

.mains a:hover{
  color: #009999;
}

/*Site's middle part in "Akce" and "Galerie" section.*/

.right  p {
  padding: 0% 5% 0% 5%;
}


.left  p {
  padding: 0% 5% 0% 5%;
}

.akce-image-container {
  display: none;
}

.divisor {
  height: 10px;
}

.main-image {
  width: 100%;
  display: block;
}

.images-sied-by-side {
   display: block;
   width: 100%;
   margin-bottom: 5%;
 }


#hlavni-container-akce{
  font-size: 100%;
}

/*Site's middle part in "Úvod" section.*/


#hlavni-container-uvod{
}

#uvod-text-container {
   width: 90%;
   padding-left: 5%;
   box-sizing: border-box;
   font-size: 100%;
   margin-bottom: 10%;
}

.hlavni-container h1 {
  padding-left: 5%;
  color: #008080;
  font-size: 30px;
  padding-top: 5%;
  margin: 0;
}

.hlavni-container A:link {
  color: #008080;
  text-decoration: none;
}

.hlavni-container A:visited {
  color: #008080;
}

.hlavni-container A:hover {
  color: #009999;
  text-decoration: underline;
}

/*Site's middle part in "Kontakt" section.*/

.kontakt-main-container {
  font-size: 100%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.kontakt-container-grid {
  padding-top: 2%;
}

/*Site's bottom part.*/

.footer-main {
   background: #444444;
   height: 675px;
   color: white;
}

.footer-upper {
  display: grid;
  grid-template-columns: 1fr;
}

.footer-subdivisions {
  padding: 12.5% 0% 0% 5%;
}

.footer-thanks-classic {
  display: none;
}

.footer-subdivisions-thanks {
  padding: 6.25% 5% 0% 5%;
}

.footer-subdivisions A:link {
   text-decoration: none;
   color: #009999;
}

.footer-subdivisions A:visited{
  color: #009999;
}

.footer-subdivisions A:hover{
  color: #008080;
}

#ig-image {
  margin-left: 5%;
}

.social-network-hover {
  display: none;
}

.social-network-link {
  display: inline;
}

#fb-link:hover .social-network-hover {
  display: inline;
}

#fb-link:hover .social-network-link {
  display: none;
}

#ig-link:hover .social-network-hover {
  display: inline;
}

#ig-link:hover .social-network-link {
  display: none;
}

.footer-admin {
  padding-left:10%;
  padding-top: 15px;
}

#main3 {
  color: white;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr 0fr 0fr;
  height: 50px;
  font-size: 15px;
}

#main3 A:link {
  text-decoration: none;
  color: #009999;
}

#main3 A:visited{
          color: #009999;
}

#main3 A:hover{
        color: #008080;
}

@media (max-width: 400px) {
  .admin {display: none;}
  #main3 {display: block;}
  .footer-admin {
    padding: 5% 0% 0% 5%;
  }
}
