/* CSS document */

/*Site's upper part.*/

body{
  margin: 0;
  font-family: sans-serif;
}

.main1-mobile-container {
  height: 2.5rem;
  width: 100%;
  background: #343434;
}

.main1{
  width: 17.5%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.main1-container {
  height: 0;
  width: 300%;
  transform: translateX(-66%)!important;
  background: #343434;
  overflow: hidden;
  transition: height 1s;
  transform: translateY(0%);
}

.main1-container-after-click {
  height: 10rem;
}

#menu-picture {
  display: block;
  padding-left: 20%;
}

.main1-tags {
  height: 2.25rem;
  text-align: center;
  box-sizing: border-box;
}

.main-divisor {
  height: 1.5rem;
  background: #343434;
}

.mains a:link{
  color: white;
  text-decoration: none;
}

.mains a:visited{
  color: white;
}

.mains a:hover{
  color: #009999;
}

/*Site's middle part in "Akce" and "Galerie" section.*/

.right  p {
  padding: 0% 5% 0% 5%;
}


.left  p {
  padding: 0% 5% 0% 5%;
}

.akce-image-container {
  display: none;
}

.divisor {
  height: 10px;
}

.main-image {
  width: 100%;
  display: block;
}

.images-sied-by-side {
   display: block;
   width: 100%;
   margin-bottom: 5%;
 }


#hlavni-container-akce{
  font-size: 100%;
}

/*Site's middle part in "Ůvod" section.*/


#hlavni-container-uvod{
}

#uvod-text-container {
   width: 90%;
   padding-left: 5%;
   box-sizing: border-box;
   font-size: 100%;
   margin-bottom: 10%;
   text-align:
}

.hlavni-container h1 {
  padding-left: 5%;
  color: #008080;
  font-size: 30px;
  padding-top: 5%;
  margin: 0;
}

.hlavni-container A:link {
  color: #008080;
  text-decoration: none;
}

.hlavni-container A:visited {
  color: #008080;
}

.hlavni-container A:hover {
  color: #009999;
  text-decoration: underline;
}

/*Site's middle part in "Kontakt" section.*/

.kontakt-main-container {
  font-size: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.kontakt-container-grid {
  /* display: grid;
  grid-template-columns: 1fr 2fr 8fr; */
  padding-top: 2%;
}

/*Site's bottom part.*/

.footer-main {
   background: #444444;
   height: 710.250px;
   color: white;
}

.footer-upper {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.footer-subdivisions {
  padding: 12.5% 0% 0% 5%;
}

.footer-thanks-classic {
  display: none;
}

.footer-subdivisions-thanks {
  padding: 6.25% 5% 0% 5%;
}

.footer-subdivisions A:link {
   text-decoration: none;
   color: #009999;
}

.footer-subdivisions A:visited{
  color: #009999;
}

.footer-subdivisions A:hover{
  color: #008080;
}

.footer-admin {
  padding: 7% 0% 0% 10%;
}

#main3 {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  font-size: 15px;
}

#main3 A:link {
  text-decoration: none;
  color: #009999;
}

#main3 A:visited{
          color: #009999;
}

#main3 A:hover{
        color: #008080;
}
