/* CSS Document */


body{
     margin: 0;
     font-family: sans-serif;
}

#index{
     background: black URL(imgs/better.jpg) 
     no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
}

#main{
      word-spacing: 120px;
      font-size: x-large;
      font-weight: bold; 
      text-align: center;
      color: #33FF33;
}

#main1{
      word-spacing: 120px;
      font-size: 120%;
      text-align: center; 
      color: white; 
      background: #008080;
      width: 100%;   
      height: 80px; 
      line-height: 1.75;
}

#main1a{
        padding-top: 20px;
}


#main2{
       width: 100%;
       height: 480px;
       background: #009999;
       color: white;
       text-align: center;
       font-size: 750%;
       line-height: 1; 
       background-image: URL(imgs/akce3.jpg);
       background-attachment: fixed; 
       background-repeat: no-repeat;
       background-size: cover;
}


#main3{
       width: 100%;
       height: 50px;
       background: #008080;
}

#uvod{
      width: 100%;
      height: 2000px;
     
      color: black;
      background: white;      
}


.div{
      width: 100%;
      height: 500px;      
}


.smaller{
        width: 50%;
        height: 500px;     
        position: absolute;      
        box-sizing: border-box;
        font-size: 150%;
        line-height: 1.75;
        text-align: center;
}


#left1{
       padding-top: 7.5%;
       padding-left: 17.5%;
       padding-bottom: 10%;
}

#right1{ 
     margin-left: 50%;
     padding-top: 5%;
     padding-left: 2.5%;
     padding-bottom: 15%;
     padding-right: 20%;       
}



#left2{
       padding-top: 5%;
       padding-left: 20%;
       padding-bottom: 15%;
       padding-right: 2.5%;            
}

#right2{
        margin-left: 50%;
        padding-top: 7.5%;
        padding-right: 17.5%;
        padding-bottom: 10%;
}





.divisions{
           height: 500px;
}

#division-left{
               width: 50%;               
               float: left;
}

#division-right{
                width: 50%;
                float: left;
}


.division-container{
                         height: 430px;
                         width: 430px;
                         box-sizing: border-box;
                         font-size: 25px;
}

#first-left-container{
                      margin: 10% 2% 0% 60%;
}


#first-right-container{
                      margin: 10% 2% 0% 10%;
}

#second-left-container{
                      margin: 10% 2% 0% 50%;
}


#second-right-container{
                      margin: 10% 30% 0% 15%;
                      padding: 2% 0% 0% 0%;
                      height: 430px;
                      width: 300px;
}


.main-conatiner-first-uvod{
                           height: 500px;
}








@media (max-width: 1200px) {
   #first-left-container {margin: 20% 0% 0% 25%;}
}

@media (max-width: 1200px) {
   #first-right-container {margin: 10% 0% 0% 30%; }
}

@media (max-width: 1200px) {
   #second-left-container {margin: 10% 20% 0% 10%; }
}

@media (max-width: 1200px) {
   #second-right-container {margin: 10% 0% 0% 50%; }
}

@media (max-width: 1200px) {
   #main2 {font-size: 75px; }
}


@media (max-width: 800px) {
   #main1 {word-spacing: 50px; }
}

@media (max-width: 650px) {
   #second-right-container {display: none; }
}

@media (max-width: 500px) {
   #first-right-container {display: none; }
}


@media (max-width: 400px) {
   #main2 {font-size: 60px;}
}


@media (max-width: 400px) {
   #main1 {font-size: 13.5px;}
}

@media (max-width: 400px) {
   #main1 {word-spacing: 20px;}
}

@media (max-width: 300px) {
   #main2 {font-size: 55px;}
}









a:link{
        color: white;
        text-decoration: none;        
}

a:visited{
          color: white;  
}

a:hover{
        color: #009999;
}