/* CSS Document */


body{
     margin: 0;
     font-family: sans-serif; 
}


#main1{
      word-spacing: 50%;      
      text-align: center; 
      color: white; 
      background: #343434;
      height: 80px; 
      line-height: 1.75;
}

#main1a{
        padding-top: 25px;      
}

#main1-logo {
             float: left;
             width: 100px;            
}


#main2{
       height: 750px;
       color: #008080;
       text-align: center;
}

#main2 p:nth-of-type(1) {
                         padding-top: 75px;
                         margin: 0px;
                         font-size: 90px;
}

#main2 p {
           font-size: 50px;
}


#main3{
       height: 50px;
       background: #343434; 
}

.mains a:link{
        color: white;
        text-decoration: none;        
}

.mains a:visited{
          color: white;  
}

.mains a:hover{
        color: #009999;
}


.uvod-background {
                 background-image: URL(imgs/1.png);                  
                 /*background-attachment: fixed;*/                  
                   background-repeat: no-repeat; 
                   width: 100%;
}


.akce-background {
                 background-image: URL(imgs/2.png);                                        
                     background-attachment: fixed;
                     width: 100%;
                     height: 100%;
}

.galerie-background {
                     background-image: URL(imgs/3.png);                                          
                     background-repeat: no-repeat;
                     
}

.kontakt-background {
                    background-image: URL(imgs/4.png);                                       
                     background-repeat: no-repeat;
                    
}
















hlavni-container-akce {
                        height: 500px;
                        position: relative; 
}



.right{
           position: absolute;
           top: 0px;
           right: 0px;          
}

.left {
          position: absolute;
          top: 0px;
          left: 0px;          
}



#top {
      background-color: white;
      z-index: 1;
      width: 50%;
      height: 500px;          
}

#bottom {
           z-index: 1;
           width: 50%;
           height: 500px;          
           background: #343434;
           color: white;
}

.right  p {
                  text-indent: 50px;
                  padding: 7.5% 15% 0% 15%;                 
}


.left  p {
                  text-indent: 50px;
                  padding: 7.5% 15% 0% 15%;                 
}










.padding {
          padding-top: 80px;
}



.akce {
        position: relative;
}




.hlavni-container{
                           height: 450px;                 
                           
}

.hlavni-container h1 {
                      text-align: center;
                      color: #008080;
                      font-size: 50px;
                      font-weight: normal;
                      word-spacing: 10px;
                      letter-spacing: 5px;
}


.hlavni-container A:link {
                            color: #008080;
                            text-decoration: none;
}

.hlavni-container A:visited {
                            color: #009999;
}

.hlavni-container A:hover {
                            color: #008080;
}

.texts {
       text-indent: 50px;
}















#konakt-text-container{
                       font-size: 130%;
                       padding-left: 5%;
                       padding-right: 2.5%;
}

#konakt-text-container A:link {
                                   color: #008080; 
}

#konakt-text-container A:visited {
                                   color: #008080; 
}

#konakt-text-container A:hover {
                                   color: #009999; 
}

#konakt-text-container p:nth-of-type(1) {
                       padding-top: 1%;
}

#konakt-text-container img{
                       padding-right: 5%;
                       padding-bottom: 5%;
}

#uvod-text-container {
       width: 1000px;
       height: 200px;
       margin: 5% 0% 0% 25%;
       font-size: 130%;
       box-sizing: border-box;
}




.second-hlavni-container {
                          background: #343434;
                          color: white;
}


#footer-main {
               background: #444444;
               height: 300px;
               color: white;
               box-sizing: border-box;
}

#footer-division-left {
                        width: 20%;
                        padding: 3.5% 0% 0% 10%;
                        float: left; 
}

#footer-division-middle {
                          float: left;
                          width: 20%;
                          padding: 3.5% 0% 0% 4.25%;
                          
}

#footer-division-right {
                          float: left;
                          width: 32.5%;
                          padding: 3.5% 0% 0% 4.25%;
                          
}


#footer-division-left A:link {
               text-decoration: none;
               color: #009999;
}

#footer-division-left A:visited{
          color: #009999;  
}

#footer-division-left A:hover{
        color: #008080;
}


#main3 {
        color: white;
        padding: 15px 0% 0% 10%;
        box-sizing: border-box;
}

#main3 A:link {
               text-decoration: none;
               color: #009999;
}

#main3 A:visited{
          color: #009999;  
}

#main3 A:hover{
        color: #008080;
}




@media (max-width: 2000px) {
   #uvod-text-container {width: 50%; }
}


@media (max-width: 1200px) {
   #main2 p {font-size: 40px; }
}


@media (max-width: 1200px) {
   #main2 p:nth-of-type(1) {font-size: 80px; }
}  


@media (max-width: 1200px) {
   .hlavni-container h1 {font-size: 35px; }
}



@media (max-width: 800px) {
   #main1 {word-spacing: 50px; }
}

@media (max-width: 800px) {
   #uvod-text-container {margin-left: 15%; width: 75%; }
}

@media (max-width: 800px) {
   #footer-division-left {padding-left: 5%; }
}

@media (max-width: 800px) {
   #footer-division-middle {padding-left: 7.5%; }
}

@media (max-width: 800px) {
   #footer-division-right {padding-left: 7.5%; }
}

@media (max-width: 600px) {
   #footer-division-middle {padding-left: 15%; }
}


@media (max-width: 600px) {
   #uvod-text-container {margin-left: 10%; width: 80%; }
}

@media (max-width: 500px) {
   #footer-division-left {padding-left: 10%; }
}

@media (max-width: 500px) {
   #footer-division-middle {padding-left: 33.5%; }
}

@media (max-width: 500px) {
   #footer-division-right {display: none; }
}

@media (max-width: 500px) {
   .hlavni-container {overflow: hidden; }
}

@media (max-width: 500px) {
   #admin {display: none; }
}


/*@media (max-width: 600px) {
   #kontakt-division-right {width: 35%; }
}*/

@media (max-width: 500px) {
    #uvod-text-container {font-size: 110%; }
}

@media (max-width: 400px) {
   #main2 p:nth-of-type(1) {font-size: 50px;}
}


@media (max-width: 400px) {
   #main2 p {font-size: 30px;}
}



@media (max-width: 400px) {
   #uvod-text-container {margin-left: 5%; width: 95%; }
}

@media (max-width: 350px) {
   #uvod-text-container {margin-left: 1%; width: 99%; }
}

@media (max-width: 350px) {
   #footer-division-middle {display:none; }
}



@media (max-width: 400px) {
   #main1 {font-size: 13.5px;}
}

@media (max-width: 400px) {
   #main1 {word-spacing: 20px;}
}

@media (max-width: 300px) {
   #main2 p {font-size: 20px;}
}


