/* CSS Document */

/*Site's upper part.*/

body{
  margin: 0;
  font-family: sans-serif;
}


.main1{
  color: white;
  background: #343434;
  height: 5rem;
}

.menu-mobile-version {
  display: none;
}

.main1-container {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 0fr;
}

#menu-picture {
  display: none;
}

.main1-tags {
  height: 5rem;
  text-align: center;
  padding-top: 2rem;
  box-sizing: border-box;
}

.main-tags-parent:hover {
  background: #232323;
}

.main-divisor {
  height: 50px;
  background: #343434;
}

.mains a:link{
  color: white;
  text-decoration: none;
}

.mains a:visited{
  color: white;
}

.mains a:hover{
  color: #009999;
}

/*Site's middle part in "Akce" section.*/

.right  p {
  text-indent: 50px;
  padding: 7.5% 15% 0% 15%;
}


.left  p {
  text-indent: 50px;
  padding: 7.5% 15% 0% 15%;
}

.hlavni-container h2 {
  color: #008080;
  font-weight: normal;
  padding-left: 15%;
  margin: 0;
  display: inline;
}

.hlavni-container h2:link {
  color: #008080;
  text-decoration: none;
}

.hlavni-container h2:visited {
  color: #008080;
}

.hlavni-container h2:hover {
  color: #006c6c;
  text-decoration: underline;
}

.akce-image-container-mobile {
  display: none;
}

.divisor {
  height: 10px;
}

.main-image {
  width: 100%;
  display: block;
}

.images-sied-by-side {
   display: block;
 }

#hlavni-container-akce{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-indent: 50px;
  overflow: hidden;
  height: 500px;
  font-size: 120%;
}

#hlavni-container-akce h1 {
  font-size: 40px;
}

/*Site's middle part in "Galerie" section.*/

.gallery-main h1 {
  text-align: center;
  color: #008080;
  margin: 2% 0% 0% 0%;
}

.gallery-subcontainer {
  margin: 2% 5% 0% 5%;
}

.gallery-subcontainer img {
  padding: 5px;
  transition: 1s;
  filter: contrast(100%);
  width: 250px;
}

.gallery-subcontainer img:hover {
  filter: contrast(150%);
  transform: scale(1.1);
}

.hlavni-container-galerie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 650px; */
  text-indent: 50px;
  overflow: hidden;
}

.hlavni-container-galerie h3 {
  font-size: 30px;
  text-align: left;
  margin: 5% 0% 0% 4.75%;
  color: #008080;
  font-weight: normal;
}

.gallery-container img {
  margin: 5% 0% 0% 10%;
  transition: 1s;
  filter: contrast(100%);
}

.gallery-container img:hover {
  filter: contrast(150%);
  transform: scale(1.1);
}

/*Site's middle part in "Úvod" section.*/


#hlavni-container-uvod{
  height: 500px;
}

#uvod-text-container {
   width: 60%;
   margin: 5% 0% 0% 20%;
   font-size: 130%;
   box-sizing: border-box;
   text-indent: 50px;
   text-align: justify;
}

.hlavni-container h1 {
  text-align: center;
  color: #008080;
  font-size: 50px;
  font-weight: normal;
  word-spacing: 10px;
  letter-spacing: 5px;
  padding-top: 5%;
  margin: 0;
  padding-right: 5%;
}

.hlavni-container A:link {
  color: #008080;
  text-decoration: none;
}

.hlavni-container A:visited {
  color: #008080;
}

.hlavni-container A:hover {
  color: #006c6c;
  text-decoration: underline;
}

.second-hlavni-container {
  background: #343434;
  color: white;
}

/*Site's middle part in "Kontakt" section.*/

.kontakt-grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 110px;
  padding: 5% 10% 5% 10%;
  font-weight: bold;
}

.kontakt-item > div {
  padding: 3%;
}

.kontakt-grid-container > div {
  height: 130px;
  display: grid;
  grid-template-columns: auto 250px;
}

.kontakt-grid-container h1 {
  margin: 0 0 15px 0;
  font-size: 20px;
  color: #008080;
}

.kontakt-grid-container p {
  margin: 0 0 7px 0;
}

.kontakt-grid-container img {
  padding: 3%;
  margin-right: 20px;
}

.kontakt-item-span {
  font-size: 15px;
}

/*Site's bottom part.*/

.footer-main {
   background: #444444;
   height: 300px;
   color: white;
}

.footer-upper {
  display: grid;
  grid-template-columns: 0.15fr 1fr 1fr 2fr 0.15fr;
}

.footer-subdivisions {
  margin: 10% 0% 0% 0%;
  margin-right: 5%;
}

.footer-subdivisions-thanks {
  margin: 5% 0% 0% 0%;
}

.footer-thanks-mobile {
  display: none;
}

.footer-subdivisions A:link {
   text-decoration: none;
   color: #009999;
}

.footer-subdivisions A:visited{
  color: #009999;
}

.footer-subdivisions A:hover{
  color: #008080;
}

#ig-image {
  margin-left: 5%;
}

.social-network-hover {
  display: none;
}

.social-network-link {
  display: inline;
}

#fb-link:hover .social-network-hover {
  display: inline;
}

#fb-link:hover .social-network-link {
  display: none;
}

#ig-link:hover .social-network-hover {
  display: inline;
}

#ig-link:hover .social-network-link {
  display: none;
}

.footer-admin {
  padding-top: 15px;
}

#main3 {
  color: white;
  display: grid;
  grid-template-columns: 0.15fr 1fr 1fr 2fr 0.15fr;
}

#main3 A:link {
  text-decoration: none;
  color: #009999;
}

#main3 A:visited{
          color: #009999;
}

#main3 A:hover{
        color: #008080;
}

@media (max-width: 1650px) {
  .images-sied-by-side {width: 100%;}
  .gallery-container img {margin: 5% 0% 0% 0%;}
}


@media (max-width: 1250px) {
  .akce-image-container {
    display: none;
  }
  .akce-image-container-mobile {
    display: block;
  }
  #hlavni-container-akce{
    display: block;
    height: auto;
  }
  .images-sied-by-side {
    width: 80%;
    padding-left: 11%;
  }
  .hlavni-container-galerie h3 {
    font-size: 22.5px;
  }
}

@media (max-width: 1350px) {
  .kontakt-grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
