/* CSS Document */

body{
     margin: 0;
     font-family: sans-serif;
}


#main1{
      color: white;
      background: #343434;
      height: 5rem;
}

#main1-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
}

.main1-tags {
  height: 5rem;
  text-align: center;
  padding-top: 2rem;
}

#main3{
       height: 50px;
       background: #343434;
       color: white;
       display: grid;
}

.mains a:link{
        color: white;
        text-decoration: none;
}

.mains a:visited{
          color: white;
}

.mains a:hover{
        color: #009999;
}






.right  p {
                  text-indent: 50px;
                  padding: 7.5% 15% 0% 15%;
}


.left  p {
                  text-indent: 50px;
                  padding: 7.5% 15% 0% 15%;
}


.divisor {
  height: 10px;
}

.main-image {
  width: 100%;
  display: block;
}

.images-sied-by-side {
   display: block;
 }





.hlavni-container-akce{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-indent: 50px;
  overflow: hidden;
}

.hlavni-container-akce h1 {
                      text-align: center;
                      color: #008080;
                      font-size: 50px;
                      font-weight: normal;
                      word-spacing: 10px;
                      letter-spacing: 5px;
                      padding-top: 5%;
}


.hlavni-container-akce A:link {
                            color: #008080;
                            text-decoration: none;
}

.hlavni-container-akce A:visited {
                            color: #009999;
}

.hlavni-container-akce A:hover {
                            color: #008080;
}




.hlavni-container{
  height: 500px;
}


.hlavni-container h1 {
                      text-align: center;
                      color: #008080;
                      font-size: 50px;
                      font-weight: normal;
                      word-spacing: 10px;
                      letter-spacing: 5px;
                      padding-top: 5%;
}

.hlavni-container A:link {
                            color: #008080;
                            text-decoration: none;
}

.hlavni-container A:visited {
                            color: #009999;
}

.hlavni-container A:hover {
                            color: #008080;
}

.texts {
       text-indent: 50px;
}



.second-hlavni-container {
                          background: #343434;
                          color: white;
}











#konakt-text-container{
                       font-size: 130%;
                       padding-left: 5%;
                       padding-right: 2.5%;
}

#konakt-text-container A:link {
                                   color: #008080;
}

#konakt-text-container A:visited {
                                   color: #008080;
}

#konakt-text-container A:hover {
                                   color: #009999;
}

#konakt-text-container p:nth-of-type(1) {
                       padding-top: 1%;
}

#konakt-text-container img{
                       padding-right: 5%;
                       padding-bottom: 5%;
}

#uvod-text-container {
       width: 1000px;
       height: 200px;
       margin: 5% 0% 0% 25%;
       font-size: 130%;
       box-sizing: border-box;
}




.footer-main {
               background: #444444;
               height: 300px;
               color: white;
}

.footer-upper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  overflow: hidden;
}

.footer-subdivisions {
  padding: 12.5% 0% 0% 20%;
}

.footer-subdivisions-thanks {
  padding: 6.25% 5% 0% 10%;
}

.footer-subdivisions A:link {
               text-decoration: none;
               color: #009999;
}

.footer-subdivisions A:visited{
          color: #009999;
}

.footer-subdivisions A:hover{
        color: #008080;
}

.footer-admin {
  padding: 3.5% 0% 0% 20%;
}

#main3 {
        color: white;
        height: 50px;
        background: #343434;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
}

#main3 A:link {
               text-decoration: none;
               color: #009999;
}

#main3 A:visited{
          color: #009999;
}

#main3 A:hover{
        color: #008080;
}



@media (max-width: 1200px) {
   .hlavni-container h1 {font-size: 35px; }
}

@media (max-width: 800px) {
   #uvod-text-container {margin-left: 15%; width: 75%; }
}


@media (max-width: 600px) {
   #uvod-text-container {margin-left: 10%; width: 80%; }
}

@media (max-width: 500px) {
   .hlavni-container {overflow: hidden; }
}


@media (max-width: 500px) {
    #uvod-text-container {font-size: 110%; }
}


@media (max-width: 400px) {
   #uvod-text-container {margin-left: 5%; width: 95%; }
}

@media (max-width: 350px) {
   #uvod-text-container {margin-left: 1%; width: 99%; }
}
